{% extends 'crypto/base.html' %}

{% block content %}

<form action="" method="POST">{% csrf_token %}
<h1 align="center">Shamir</h1>
<div class="row">
      <div class="row">
        <div class="col" align="center">
            <h4><br></h4>
            <div class="input-group mb-3">
                <span class="input-group-text">P:</span>
                <input class="form-control" id="InputP" name="p" value="{{ p }}" readonly>
            </div>
        </div>
        <div class="col" align="center">
            <h4>Абонент A</h4>
            <div class="input-group mb-3">
                <span class="input-group-text">cA:</span>
                <input class="form-control" id="InputXa" name="cA" value="{{ cA }}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">dA:</span>
                <input class="form-control" id="InputYa" name="dA" value="{{ dA }}" readonly>
            </div>
            <button class="btn btn-primary btn-lg" type="submit" name="submit" value="Gen">Генерировать</button>
        </div>
        <div class="col" align="center">
            <h4>Абонент B</h4>
            <div class="input-group mb-3">
                <span class="input-group-text">cB:</span>
                <input class="form-control" id="InputXb" name="cB" value="{{ cB }}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">dB:</span>
                <input class="form-control" id="InputYb" name="dB" value="{{ dB }}" readonly>
            </div>
        </div>
    </div>
</div>
<br>
{% if error %}
    <div class="alert alert-danger" role="alert" align="center">
        {{ error }}
    </div>
{% endif %}
<div class="row" align="center">
  <div class="col-8">
      <div class="input-group mb-3">
          <span class="input-group-text">Изначальный<br>текст</span>
          <textarea class="form-control" id="text1" name="text1" rows="5">{{ text1 }}</textarea>
      </div>
      <button class="btn btn-primary btn-lg" type="submit" name="submit" value="Shifr">Передать сообщение</button>
      <br><br>
      <div class="input-group mb-3">
          <span class="input-group-text">Шифрованный<br>текст</span>
          <textarea class="form-control" id="text2" name="text2" rows="5" readonly>{{ text2 }}</textarea>
      </div>
  </div>
  <div class="col-4">
  </div>
</div>
</form>

{% endblock %}
